.bookmarks {
    height: 10vh;
    width: 100%;
    background-color: #14151d;
    display: flex;
    align-items: center;
    overflow-y: auto;

    &::-webkit-scrollbar {
        display: none;
    }
}