%toast {
    position: absolute;
    z-index: 1000;
    color: black;
    right: 0;
    bottom: 0;
}

.toast_success {
    @extend %toast;
    background-color: lightseagreen;
}

.toast_error {
    @extend %toast;
    background-color: lightcoral;
}

.toast_warning {
    @extend %toast;
    background-color: sandybrown;
}