%toast {
    position: absolute;
    bottom: 0;
    right: 0;
    top: 0;
    left: 0;

    z-index: 1000;
    color: black;
}

.toast_success {
    @extend %toast;
    background-color: lightseagreen;
}

.toast_error {
    @extend %toast;
    background-color: lightcoral;
}

.toast_warning {
    @extend %toast;
    background-color: sandybrown;
}